<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="phyb1l_TransitiveDependency" culture="neutral" publicKeyToken="245a80169ac37524" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
